.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 7.5px 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav ul li a {
  margin: 15px;  
}

